body {
    border:2px solid;
    margin:30px;
    padding:10px;
    background: rgb(79, 69, 73);
}

hr {
    height: 1px;
    background-color:rgb(159, 138, 147);
    border: none;
}

/* css methods */

.external {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* bottom design */

.bottom {
    margin-bottom: 20px;
}

/* class ID selectors */

#odd {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(255,192,203)
}

.two {
    color: blue;
}

#even {
    font-size: 24px
}

.three {
    font-size: 24px;
}

.four {
    background-color: rgb(127,255,0);
    font-weight: bold;
}

.space {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* grouping selectors */

.no,
.yes {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.no {
    background-color: rgb(250, 250, 51);
}

.yes {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255)
}

/* chaining selectors */

.picture.distorted {
    width: 200px;
}

.avatar {
    height: 200px;
}

.distorted {
    height: 300px;
}

.pic.proportioned {
    width: 300px;
}

.avat {
    height: 300px;
}

.proportioned {
    height: 250p
}

.papa .babi {
    background-color: rgb(250, 250, 51);
    color: 	rgb(233,150,122);
    font-size: 20px;
    text-align: center;
}

/* cascade fix */

.text {
    font-weight: 900;
}

.big {
    font-size: 30px;
}

.small {
    font-size: 20px;
}

.thin {
    font-weight: 100;
}

.confirm {
    background: green;
    color: rgb(255,255,255);
}

.cancel {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}

/* 1 margin padding*/

.pirs {
    border: 2px solid blue;
    background-color: rgb(235,144,154);
    margin-left: 40px;
    width: 300px;
    padding: 20px;
}

.sekon {
    margin-left: 30px;
    margin-top: 10px;
    border: 2px solid purple;
    background-color: lightblue;
    width: 360px;
}

.tird {
    margin-left: 240px;
    margin-top: 30px;
    border: 2px solid red;
    background-color: lightyellow;
    width: 110px;
    padding: 20px;
}

/* 2 margin padding*/

.kard {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 178px;
    background-color: white;
    width: 400px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.am {
    float:inline-start;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    width: 384px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.blah {
    float:inline-start;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: lightblue;
    width: 384px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.butt {
    float:inline-start;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightblue;
    width: 377px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 60px;
    text-align: center;
}

.ton {
    border-color: white;
    padding: 8px;
}

/* flex 1*/

/* */